
// Change colour of navigation bar to UHH stone-grey
.navbar {
  background-color: #3b515b !important;
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: white !important;
}

.navbar .nav-link:hover {
  color: #B2BABD !important;
}
